<h1> <%= @task.title %> </h1>
<br>
<p> <%= @task.details %> </p>

<% if @task.completed == false %>
  <%= "âŽ The task is not yet completed!" %>
<% else %>
  <%= "âœ… The task is already finished!" %>
<% end %>

<br>
<br>

<%= link_to "ðŸ“ Edit", edit_path %>

<br>
<br>

<%= link_to "ðŸ”™", tasks_path %>



